out
build
build-asan
.vs
*.symlink
.clangd/
compile_commands.json
.cache
config.sh
*.bat
!vc.bat
config.bat
starbytes-docs
linux-build
starbytes-lang/tools/main/Starbytes.cpp
.DS_STORE
.idea
cmake-build-debug
cmake-build-release
.starbytes
deps
*.sh
tools/starbpkg/.request/
