version: 0.10.0-a{build}


branches:
  only:
   - master

image:
  - Visual Studio 2019
  # - macos


environment:
  matrix:
    - Generator: Ninja
      MakeProgram: ninja
      CMakeConfig: -DCMAKE_CXX_COMPILER=clang-cl -DCMAKE_C_COMPILER=clang-cl -DCMAKE_BUILD_TYPE=Release

init:
- cmd: call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat" x86_amd64
- sh: curl https://github.com/ninja-build/ninja/releases/download/v1.10.1/ninja-mac.zip -o ./ninja-mac.zip 
- sh: unzip ninja-mac.zip 
- sh: export PATH=./ninja-mac/ninja:"${PATH}"

platform: Any CPU

before_build:
  - cmd: cmake -G%Generator% -S./starbytes-lang -B./build %CMakeConfig% 
  - sh: cmake -G$Generator -S./starbytes-lang -B./build $CMakeConfig 

configuration: Release

build_script:
- cmd: "%MakeProgram% -C ./build"
- sh: "$MakeProgram -C ./build"
